* {
  box-sizing: border-box;
}

.checkbox-wrapper {
  display: flex;
  margin: auto auto;
  height: 40px;
  width: 180px;
  border-radius: 15px;
}

.checkbox-wrapper label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.checkbox-wrapper label:last-of-type {
  border-radius: 0 5px 5px 0;
}

.checkbox-wrapper label:hover {
  cursor: pointer;
}

.app-class {
  display: inline-block;
  position: relative;
}
.cancel-choice-icon {
  font-size: 2.4rem !important;
  color: rgb(255, 255, 255);
  background-color: grey;
  border-radius: 5px 0 0 5px;
}

.cancel-choice-wrapper {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-label {
  border: 1px solid rgba(0, 0, 0, 0.2);
  flex: 1 0 1em;
  overflow: hidden;
  max-width: 60px;
  font-size: large;
  margin-right: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: 0.3;
  background-color: #ccc;
  border-radius: 5px 5px 5px 5px;
}

.goingHome-leave-active {
  transition: all 0.25s ease;
}

.goingHome-enter,
.goingHome-leave-to {
  flex: 0 1 0em;
  opacity: 0.3;
}

.goingHome-enter-to {
  opacity: 1;
}

.goingHome-enter-active {
  transition: all 0.25s ease;
}

.active-selection {
  min-width: 60px;
  border-radius: 5px 0 0 5px !important;
  transition: all 0.1s ease-in-out;
}
.checkbox-msg {
  word-wrap: none;
  display: flex;
  flex: 1 0 1em;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 5px 5px 0;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  align-items: center;
}

.checkbox-msg-slide-leave-active {
  transition: all 0.25s ease;
}

.checkbox-msg-slide-enter,
.checkbox-msg-slide-leave-to {
  flex: 0 1 0em;
  overflow: hidden;
  opacity: 0;
}

input[type="radio"] {
  display: none;
}

.opt-ok-active {
  background-color: #689f38;
  color: rgb(255, 255, 255);
}

.opt-nok-active {
  background-color: #d32f2f;
  color: rgb(255, 255, 255);
}

.opt-na-active {
  background-color: grey;
  color: white;
}

/*
  Dosplay hover for no-touch devices only
*/
@media (hover: hover) and (pointer: fine) {
  .app-class:hover .cancel-choice-icon {
    cursor: pointer;
  }

  .opt-ok-inactive:hover {
    text-shadow: 1px 0px 0px #689f38;
    color: #689f38;
  }

  .opt-nok-inactive:hover {
    text-shadow: 1px 0px 0px #d32f2f;
    color: #d32f2f;
  }

  .opt-na-inactive:hover {
    font-weight: bold;
  }
}

/*
  Dosplay hover for no-touch devices only
*/
@media (hover: hover) and (pointer: fine) {
  .app-class:hover .back-choice {
    opacity: 0.9;
    cursor: pointer;
  }

  .opt-ok:hover {
    stroke-width: 2px;
    stroke: green;
  }

  .opt-nok:hover {
    stroke-width: 2px;
    stroke: red;
  }

  .opt-na:hover {
    font-weight: 1000;
  }
}
