* {
  box-sizing: border-box;
}

<<<<<<< HEAD
.checkbox-wrapper {
  display: flex;
  margin: auto auto;
  height: 40px;
  width: 180px;
  border-radius: 15px;
}

.checkbox-wrapper label:first-of-type {
  border-radius: 5px 0 0 5px;
}
*/ .wrapper {
  display: flex;
  > * {
    flex: 1 1 0%;
    overflow: hidden;
  }
  .subContainer {
    margin: 10px;
    background-color: white;
    min-height: 200px;
    padding: 1rem;
    /* prevent text wrapping during transition? */
    min-width: 300px;
  }
  .left {
    background-color: blue;
  }
  .right {
    background-color: red;
  }
  .container {
    background-color: white;
  }
}

.checkbox-wrapper label:last-of-type {
  border-radius: 0 5px 5px 0;
}

.checkbox-wrapper label:hover {
  cursor: pointer;
}

.app-class {
  display: inline-block;
  position: relative;
}
.cancel-choice-icon {
  font-size: 2.4rem !important;
  color: rgb(255, 255, 255);
  background-color: grey;
  border-radius: 5px 0 0 5px;
}

.cancel-choice-wrapper {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
=======
.wrapper {
  display: flex;
  margin: auto auto;
  height: 44px;
  width: 300px;
  border-radius: 15px;
>>>>>>> wip of work
}

.flex-label {
  border: 1px solid rgba(0, 0, 0, 0.2);
<<<<<<< HEAD
  flex: 1 0 1em;
  overflow: hidden;
  max-width: 60px;
  font-size: large;
  margin-right: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: 0.3;
  background-color: #ccc;
  border-radius: 5px 5px 5px 5px;
}

.goingHome-leave-active {
  transition: all 0.25s ease;
}

=======
  background: #fff;
  flex: 1 0 1em;
  overflow: hidden;
  max-width: 100px;
  margin-right: -1px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operator {
  flex: 1 0 1em;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 5px 5px 0;
}

.goingHome-leave-active {
  transition: all 0.25s ease;
}
>>>>>>> wip of work
.goingHome-enter,
.goingHome-leave-to {
  flex: 0 1 0em;
  opacity: 0.3;
<<<<<<< HEAD
}

.goingHome-enter-to {
  opacity: 1;
}

.goingHome-enter-active {
  transition: all 0.25s ease;
}

.active-selection {
  min-width: 60px;
  border-radius: 5px 0 0 5px !important;
  transition: all 0.1s ease-in-out;
}
.checkbox-msg {
  word-wrap: none;
  display: flex;
  flex: 1 0 1em;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 5px 5px 0;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  align-items: center;
}

.checkbox-msg-slide-leave-active {
  transition: all 0.25s ease;
}

.checkbox-msg-slide-enter,
.checkbox-msg-slide-leave-to {
  flex: 0 1 0em;
  overflow: hidden;
  opacity: 0;
}

=======
}

.goingHome-enter-to {
  opacity: 1;
}

.goingHome-enter-active {
  transition: all 0.25s ease;
}

.activeSelection {
  min-width: 100px;
  border-radius: 5px 0 0 5px !important;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
}

.operator-slide-fade-enter-active {
  transition: all 0.25s ease;
}

.operator-slide-fade-leave-active {
  transition: all 0.25s ease;
}

.operator-slide-fade-enter,
.operator-slide-fade-leave-to {
  transform: translateX(100px);
  overflow: hidden;
  opacity: 0;
}

>>>>>>> wip of work
input[type="radio"] {
  display: none;
}

<<<<<<< HEAD
.opt-ok-active {
  background-color: #689f38;
  color: rgb(255, 255, 255);
}

.opt-nok-active {
  background-color: #d32f2f;
  color: rgb(255, 255, 255);
}

.opt-na-active {
  background-color: grey;
  color: white;
}

/*
  Dosplay hover for no-touch devices only
*/
@media (hover: hover) and (pointer: fine) {
  .app-class:hover .cancel-choice-icon {
    cursor: pointer;
  }

  .opt-ok-inactive:hover {
    text-shadow: 1px 0px 0px #689f38;
    color: #689f38;
  }

  .opt-nok-inactive:hover {
    text-shadow: 1px 0px 0px #d32f2f;
    color: #d32f2f;
  }

  .opt-na-inactive:hover {
    font-weight: bold;
  }
=======
.opt-ok:hover {
  stroke-width: 2px;
  stroke: green;
}

.opt-nok:hover {
  stroke-width: 2px;
  stroke: red;
}

.opt-na:hover {
  font-weight: 1000;
}

<<<<<<< HEAD
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
>>>>>>> wip of work
=======
.ok-active {
  background-color: green;
  stroke: rgb(255, 255, 255);
  fill: white;
}

.nok-active {
  background-color: red;
  stroke: rgb(255, 255, 255);
  fill: white;
}

.na-active {
  background-color: grey;
  color: white;
}
.wrapper label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.wrapper label:last-of-type {
  border-radius: 0 5px 5px 0;
>>>>>>> on work
}

.wrapper label:hover {
  cursor: pointer;
}
