@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/*
.wrapper {
  display: inline-flex;
  background: rgb(205, 226, 214);
  height: 100px;
  width: 400px;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
*/
.wrapper {
  display: flex;
  > * {
    flex: 1 1 0%;
    overflow: hidden;
  }
  .subContainer {
    margin: 10px;
    background-color: white;
    min-height: 200px;
    padding: 1rem;
    /* prevent text wrapping during transition? */
    min-width: 300px;
  }
  .left {
    background-color: blue;
  }
  .right {
    background-color: red;
  }
  .container {
    background-color: white;
  }
}

/*
.wrapper .option {
  background: #fff;
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 0px;
}
*/
.goingHome-leave-active {
  transition: all 1s ease;
  overflow: hidden;
  max-width: 100px;
  border: 0px;
}

.goingHome-leave-to {
  opacity: 0.6;
  max-width: 0;
  padding: 0 0px;
  border: 0px;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.operator-slide-fade-enter-active {
  transition: all 0.3s ease;
}

.operator-slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.operator-slide-fade-enter, .operator-slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}

.wrapper .operator {
  width: 100%;
}

input[type="radio"] {
  display: none;
}

#option-1:checked:checked ~ .option-1 {
  border-color: #95d470;
  background: #95d470;
}

#option-2:checked:checked ~ .option-2 {
  border-color: #ec6262;
  background: #ec6262;
}

#option-3:checked:checked ~ .option-3 {
  border-color: #cecccc;
  background: #cecccc;
}

.wrapper .option span {
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}
